<div class="dialog">
    <div class="dialog__title">
        <img class="logo-image" src="assets/logo.png">
        <h1 class="dialog-text">Домен: {{domain}}</h1>
        <h1 class="dialog-text">Логин: {{login}}</h1>
        <h1 class="dialog-text">ФИО: {{name}}</h1>
        <h1 class="dialog-text">Станция: {{station}}</h1>
        <h1 class="dialog-text">Дата: {{date}}</h1>
        <h1 class="dialog-text">Время: {{time}}</h1>
        <img class="close_image" src="assets/close.png" (click)="close()">
    </div>
    <div class="dialog__content">
        <img class="dialog__image" src="{{imageBase64}}" alt="Скриншот активности">
        <div class="dialog__navigation-block -left"><img class="dialog_arrow" src="assets/arrowcircleleft.png"></div>
        <div class="dialog__navigation-block -right"><img class="dialog_arrow" src="assets/arrowcircleright.png"></div>
    </div>
</div>
