<div class="dialog">
    <div class="dialog__title">
        <img src="assets/logo.png">
        <h1 class="dialog-text">Домен: {{domain}}</h1>
        <h1 class="dialog-text">Логин: {{login}}</h1>
        <h1 class="dialog-text">ФИО: {{name}}</h1>
        <h1 class="dialog-text">Станция: {{station}}</h1>
        <h1 class="dialog-text">Дата: {{date}}</h1>
        <h1 class="dialog-text">Время: {{time}}</h1>
        <img class="close_image" src="assets/close.png" (click)="close()">
    </div>
    <div class="dialog__content">
        <img src="{{imageBase64}}" alt="Скриншот активности">
    </div>
</div>
