<div class="page-selector">
    <div class="title-page">
        <h2>Информация о пользователе</h2>
    </div>
    <div class="button-block">
        <button [routerLink]="['/user-list']" class="fisrt-variation-bar">
            <h1>Назад</h1>
        </button>
        <button class="fisrt-variation-bar" (click)="RemoveUser()">
            <h1>Удалить</h1>
        </button>
        <button class="second-variation-bar" (click)="UpdateUser()">
            <h1>Редактировать</h1>
        </button>
    </div>
    <div class="form-location">
        <div class="form-location-object">
            <h1>Идентификатор:</h1>
            <h1>{{user.id}}</h1>
        </div>
        <div class="form-location-object">
            <h1>Имя:</h1>
            <h1>{{user.name}}</h1>
        </div>
        <div class="form-location-object">
            <h1>Логин:</h1>
            <h1>{{user.login}}</h1>
        </div>
    </div>
</div>
