<div class="page-selector">
    <div class="title-page">
        <h2>Создание пользователя</h2>
    </div>
    <div class="button-block">
        <button [routerLink]="['/user-list']" class="fisrt-variation-bar">
            <h1>Назад</h1>
        </button>
        <button class="second-variation-bar" (click)="CreateUser()">
            <h1>Создать</h1>
        </button>
    </div>
    <div class="form-location">
        <div class="form-location-object">
            <h1>Имя:</h1>
            <input [(ngModel)]="name" class="auth-input" type="text" placeholder="Имя" maxlength="100">
        </div>
        <div class="form-location-object">
            <h1>Логин:</h1>
            <input [(ngModel)]="login" class="auth-input" type="text" placeholder="Логин" maxlength="100">
        </div>
        <div class="form-location-object">
            <h1>Пароль:</h1>
            <input [(ngModel)]="password" class="auth-input" type="password" placeholder="Пароль" maxlength="100">
        </div>
        <div class="form-location-object">
            <h1>Повторите пароль:</h1>
            <input [(ngModel)]="confirm_password" class="auth-input" type="password" placeholder="Повторите пароль" maxlength="100">
        </div>
    </div>
</div>
