<div class="content">
    <div class="action">
        <div class="action__controls">
            <h1 class="regular-text indent-right">Выбрать для просмотра:</h1>
            <select (change)="getRequest()" class="select-filter flex-primary indent-right" [(ngModel)]="selectedLogin">
                <option class="select-filter__option" *ngFor="let login of logins" value="{{login}}">{{login}}</option>
            </select>
            <h1 class="regular-text indent-right">Интервал для просмотра:</h1>
            <input class="input-time indent-right" type="date" [(ngModel)]="startDate">
            <h1 class="regular-text indent-right"> - </h1>
            <input class="input-time" type="date" [(ngModel)]="endDate">
        </div>
        <div class="action__time-interval">
            <h2 class="micro-text">Минуты</h2>
            <h2 class="micro-text -filled" *ngFor="let minute of minuteArray">{{minute}}</h2>
        </div>
        <div class="action__account" *ngFor="let action of actions">
            <h3 class="regular-text">{{action.userLogin}}</h3>
            <div class="action__date" *ngFor="let date of action.commands">
                <h4 class="regular-text">{{date.dateTimeAction.getDate()}}.{{date.dateTimeAction.getMonth()}}.{{date.dateTimeAction.getFullYear()}}</h4>
                <div class="action__hour" *ngFor="let hour of date.commands">
                    <h5 class="regular-text -hour">{{hour.hourTimeAction.getHours()}}</h5>
                    <div class="action__point" *ngFor="let point of hour.commands">
                        <div *ngIf="point.enableAction == false && point.flagImg == 0" class="action__point -usual"></div>
                        <div *ngIf="point.enableAction == true && point.flagImg == 0" class="action__point -action"></div>
                        <div *ngIf="point.enableAction == true && point.flagImg == 1" class="action__point -image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>