.mat-dialog-container {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    border: 4px solid #333C65 !important;
}

.dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #E8E7E7;
}

.dialog__title {
    display: flex;
    align-items: center;
    padding: 21px 29px;
    border-bottom: 4px solid #333C65;
}

.dialog__content {
    display: flex;
    flex-direction: column;
    padding: 25px 67px;
}