.ng-valid[required],
.ng-valid.required {
    border: 2px solid var(--color-primary-text);
}

.ng-invalid:not(form).ng-touched {
    border: 2px solid var(--color-invalid-text);
}

.valid-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.valid-container__image {
    width: 20xp;
    height: 20px;
    margin-right: 8px;
}

.valid-container__text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
}