<div class="dialog">
    <div class="dialog__title">
        <img src="assets/logo.png">
        <h1 class="name-text">Редактирование руководителя</h1>
    </div>
    <form class="dialog__content">
        <h2 class="caption-text">Имя</h2>
        <input #selectorName="ngModel" [(ngModel)]="user.name" name="name" class="primary-input" type="text" required>
        <div class="valid-container" *ngIf="selectorName.invalid && selectorName.touched">
            <img class="valid-container__image" src="assets/valid_mark.png">
            <p class="valid-container__text">Обязательное поле для заполнения</p>
        </div>
        <h2 class="caption-text">Логин</h2>
        <input #selectorLogin="ngModel" [(ngModel)]="user.login" name="login" class="primary-input" type="text" required>
        <div class="valid-container" *ngIf="selectorLogin.invalid && selectorLogin.touched">
            <img class="valid-container__image" src="assets/valid_mark.png">
            <p class="valid-container__text">Обязательное поле для заполнения</p>
        </div>
        <h2 class="caption-text">Пароль</h2>
        <input #selectorPassword="ngModel" [(ngModel)]="password" name="password" class="primary-input" type="password" required>
        <div class="valid-container" *ngIf="selectorPassword.invalid && selectorPassword.touched">
            <img class="valid-container__image" src="assets/valid_mark.png">
            <p class="valid-container__text">Обязательное поле для заполнения</p>
        </div>
        <h2 class="caption-text">Подтвердите пароль</h2>
        <input #selectorConfirm="ngModel" [(ngModel)]="confirmPassword" name="confirmPassword" class="primary-input" type="password" required>
        <div class="valid-container" *ngIf="selectorConfirm.invalid && selectorConfirm.touched">
            <img class="valid-container__image" src="assets/valid_mark.png">
            <p class="valid-container__text">Обязательное поле для заполнения</p>
        </div>
        <button (click)="update()" class="secondary-button">
            <h3 class="button-text">Сохранить</h3>
        </button>
    </form>
</div>

