<div class="page-selector">
    <div class="title-page">
        <h2>Список пользователей</h2>
    </div>
    <div class="button-block">
        <button class="fisrt-variation-bar" (click)="FindByName()">
            <h1>Поиск</h1>
        </button>
        <input class="auth-input" type="text" placeholder="Поиск по имени пользователя" maxlength="100" [(ngModel)]="name">
        <button [routerLink]="['/user-create']" class="second-variation-bar">
            <h1>Создать пользователя</h1>
        </button>
    </div>
    <div class="object-location">
        <div class="object">
            <div class="element">
                <p>Идентификатор</p>
            </div>
            <div class="element">
                <p>Имя</p>
            </div>
            <div class="element">
                <p>Логин</p>
            </div>
            <div class="element">
                <p>О пользователе</p>
            </div>
        </div>
        <div class="object-list" *ngFor="let user of users">
            <div class="object">
                <div class="element">
                    <p>{{user.id}}</p>
                </div>
                <div class="element">
                    <p>{{user.name}}</p>
                </div>
                <div class="element">
                    <p>{{user.login}}</p>
                </div>
                <div class="element">
                    <button class="table-button" (click)="GetUserInfo(user.id)">
                        <h1>Подробнее</h1>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>