.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

app-header {
    min-width: 1400px;
}

.centered-container {
    width: 1400px;
    position: relative;
    background: #fff9e5;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    /*background-color: #47337b;*/
    background-color: #D8D8D8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 1400px;
}

.footer-container h1 {
    padding-left: 20px;
}

.footer-container img {
    width: 266px;
    height: 62px;
    padding-right: 20px;
}