<div class="header-selection">
    <div class="navigation-bar">
        <a [routerLink]="['/']">Главная</a>
        <a [routerLink]="['/user-list']" *ngIf="status == 'admin'">Пользователи</a>
        <a [routerLink]="['/employer-list']" *ngIf="status == 'admin'">Сотрудники</a>
        <a [routerLink]="['/report-list']" *ngIf="status == 'admin' || status == 'manager'">Отчёт</a>
    </div>
    <div class="user-bar">
        <div *ngIf="name == undefined; then thenUserBlock else elseUserBlock"></div>
        <ng-template #thenUserBlock>
            <a (click)="openAuthDialog()">Войти</a>
        </ng-template>
        <ng-template #elseUserBlock>
            <h1>Здравствуйте, <a>{{name}}</a></h1>
        </ng-template>
    </div>
</div>
