<div class="dialog">
    <div class="dialog__title">
        <img src="assets/logo.png">
        <h1 class="name-text">Удаление записи</h1>
    </div>
    <form class="dialog__content">
        <h2 class="dialog-text">Подтвердите действие</h2>
        <div class="button-selection">
            <button (click)="refuse()" class="secondary-button">
                <h3 class="button-text">Отказать</h3>
            </button>
            <button (click)="confirm()" class="primary-button">
                <h3 class="button-text">Подтвердить</h3>
            </button>
        </div>
    </form>
</div>

