.fisrt-variation-bar
{
    width: 200px;
}

.second-variation-bar
{
    width: 400px;
}

.auth-input
{
    width: 700px;
    margin-bottom: 0px;
}

.button-block + .object-location
{
    margin-top: 30px;
}