<div class="page-selector">
    <div class="title-page">
        <h2>Выберете руководителя</h2>
    </div>
    <div class="button-block">
        <button class="fisrt-variation-bar" [routerLink]="['/employer-create']" >
            <h1>Назад</h1>
        </button>
        <input class="auth-input" type="text" placeholder="Поиск по имени пользователя" maxlength="100" [(ngModel)]="name">
        <button  class="second-variation-bar" (click)="FindByName()">
            <h1>Поиск</h1>
        </button>
    </div>
    <div class="object-location">
        <div class="object">
            <div class="element">
                <p>Идентификатор</p>
            </div>
            <div class="element">
                <p>Имя</p>
            </div>
            <div class="element">
                <p>Логин</p>
            </div>
            <div class="element">
                <p>Взаимодействие</p>
            </div>
        </div>
        <div class="object-list" *ngFor="let user of users">
            <div class="object">
                <div class="element">
                    <p>{{user.id}}</p>
                </div>
                <div class="element">
                    <p>{{user.name}}</p>
                </div>
                <div class="element">
                    <p>{{user.login}}</p>
                </div>
                <div class="element">
                    <button class="table-button" (click)="ChoiseUser(user.id)">
                        <h1>Выбрать</h1>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>